{{#each this}}
<li class="search-countries__item">
    <img class="search-countries__img" src="{{flag}}" alt="{{alpha2Code}}" width="20" height="12">
    <span class="search-countries__name">{{name}}</span>
</li>
{{/each}}



{{!-- alpha2Code: "IT"
alpha3Code: "ITA"
altSpellings: (3) ['IT', 'Italian Republic', 'Repubblica italiana']
area: 301336
borders: (6) ['AUT', 'FRA', 'SMR', 'SVN', 'CHE', 'VAT']
callingCodes: ['39']
capital: "Rome"
cioc: "ITA"
currencies: [{…}]
demonym: "Italian"
flag: "https://flagcdn.com/it.svg"
flags: {svg: 'https://flagcdn.com/it.svg', png: 'https://flagcdn.com/w320/it.png'}
gini: 36
independent: true
languages: [{…}]
latlng: (2) [42.83333333, 12.83333333]
name: "Italy"
nativeName: "Italia"
numericCode: "380"
population: 59554023
region: "Europe"
regionalBlocs: [{…}]
subregion: "Southern Europe"
timezones: ['UTC+01:00']
topLevelDomain: ['.it']
translations: {br: 'Itália', pt: 'Itália', nl: 'Italië', hr: 'Italija', fa: 'ایتالیا', …}
[[Prototype]]: Object
length: 1
[[Prototype]]: Array(0) --}}